# specify this file as var inside ~/.zshrc ...
[defaults]
host_key_checking = False                    ; небезопасно
roles_path = roles
log_path = /var/log/ansible.log
internal_poll_interval = 0.001               ; частота опроса на пример выполнения задачи

[ssh_connection]
pipelining = True                            ; Выполняет код модуля без пересылки файлов, буст скорости