# specify this file as var inside ~/.zshrc ...
[defaults]
host_key_checking = False                    ; небезопасно
roles_path = roles
timeout = 30                                 ; Глобальный тайм-аут Ansible на работу плагина соединения. Должен быть больше, чем ConnectTimeout, чтобы SSH успел выплюнуть свою ошибку.
retries = 2                                  ; Количество повторных попыток всей команды SSH.
forks = 20
log_path = /var/log/ansible.log
internal_poll_interval = 0.001               ; частота опроса на пример выполнения задачи

[ssh_connection]
pipelining = True                            ; Выполняет код модуля без пересылки файлов, буст скорости
ssh_args =                                   
      -o ControlPersist=60s                  ; время, в течение которого сокет живет после завершения последней задачи, чтобы избежать повторной авторизации
      -o ControlMaster=auto                  ;
      -o PreferredAuthentications=publickey  ;
      -o ServerAliveCountMax=2               ; Сколько попыток всего?
      -o ConnectTimeout=5                    ; Сколько секунд пытаемся установить соединение? до мёртв
      -o ServerAliveInterval=5               ; Частота проверки "ты жив?"
      -o GSSAPIAuthentication=no             ;
      -o AddressFamily=inet