# specify this file as var inside ~/.zshrc ...
[defaults]
host_key_checking = False                    ; небезопасно
roles_path = roles
log_path = /var/log/ansible.log
internal_poll_interval = 0.001               ; частота опроса на пример выполнения задачи

[ssh_connection]
pipelining = True                            ; Выполняет код модуля без пересылки файлов, буст скорости








# ПЕРВЫЕ ШАГИ
# 1. создал 2 сервака(один test_project сервер, другой monitoring_server)

# 2. узнал ip двух серваков. 

# 2.2 вставил в ansible/inventory/group_vars/all/main.yml  >    MONITORING_SERVER_IP: "93.77.186.158"




# export WORK_DIR=/root/dir
# export ANSIBLE_CONFIG=/root/dir/ansible/ansible.cfg
# export ANSIBLE_VAULT_PASSWORD_FILE=/root/dir/password_file.txt
# ansible-vault encrypt_string 'its-admin' --name 'GRAFANA_ADMIN_USER'
# ansible-vault encrypt_string 'gwrgwrg' --name 'GRAFANA_ADMIN_PASSWORD'
# ошибка: группа-безопасности яндекса не та



# ЗАПУСК НА MONITORING_SERVER
# ansible-playbook monitoring/projects/monitoring_server/playbook.yml --inventory=monitoring/projects/monitoring_server/inventory.yml -vv --inventory=ansible/inventory/


# ЗАПУСК НА КЛИЕНТА
# ansible-playbook monitoring/projects/test/playbook.yml --inventory=monitoring/projects/test/inventory.yml -vv --inventory=ansible/inventory/


